/*

CSS for displaying the full screen flash content

*/

html, body {
	height: 100%;
	overflow: hidden;
}
body {
	background: #060606;
	font: 86% Arial, "Helvetica Neue", sans-serif;
	margin: 0;                
}
#content {
	height: 100%;
}